<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Live 송출을 위한 마이크 접근 권한이 필요합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>복싱 동작을 녹화하고 분석하기 위해 카메라 접근 권한이 필요합니다.</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.706992104238-cjnh97q7gacedjjgnlh84fb415qig5k7</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>706992104238-cjnh97q7gacedjjgnlh84fb415qig5k7.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
